<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel ="stylesheet" href="static/css/styles.css"/>
    <link rel ="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"/>
    <link rel ="icon" href="data:,">

    
  </head>
  <body>
    <section id="nav_bar"
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src= "static/images/logo.jpg"></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
            <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" id="home" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link"  href="#courses">Courses</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#about_us">About Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link"  href="#footer">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile" href="/profile">Profile</a>
              </li>
            <li class="nav-item">
            <a class="nav-link" id="logout" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
            <a class="nav-link" id="login" href="/login">Login</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="sign_up" href="/sign_up">Sign Up</a>
            </li>
            {% endif %}
          </div>
        </div>
      </nav>
    </section>
    {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %} 
        {% for category, message in messages %} 
          {% if category == 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %} 
        {% endfor %} 
      {% endif %} 
    {% endwith %}
    {% block content %} 
    
    {% endblock %}

    <section id="footer">
      <img src="static/images/wave2.png" class="footer-img">
      <div class="container">
        <div class="row">
          <div class="col-md-6 footer-box">
            <img src="">
            <p>
              jwnwkjnwsefjnwfjwnfkjwnfwchabewr hevekvje vhjevbehjrvhhwiuef wfhwfhwiufbwiu   fuwh fiuwgfiuw fwfg wfwifghwiufhw87f wugfwg f8wgfuyewgfyiew fguyewfuyf
            </p>
          </div>
          <div class="col-md-6 footer-box">
            <p>CONTACT US</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>BKC , Mumbai </p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>+91 1234567890 </p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>exam@gmail.com </p>
          </div>
          
        </div>
        <div>
          <hr>
          <p class="copyright">Website Created By Hemant Mistry</p>
        </div>
      </div>
    </section>
    
    <script src="static/js/smooth-scroll.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>